<!DOCTYPE html>
<html>
<head>
    <title>Excel Data Search</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
    <form method="POST" action="/search">
        <input type="text" name="search" placeholder="Search...">
        <input type="submit" value="Search">
    </form>
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
                <th>Open File</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}

            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
{#              <td>{{ row[5] }}</td>#}
                <td><a href="file://{{ row[6] }}" target="_blank">Click Here</a></td> <!-- add anchor tag for file URLs -->

{#                <td><a href="{{ row[5] }}" target="_blank"> Click to open </a></td> <!-- add anchor tag for website URLs -->#}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
